import(stats)
import(GenomicRanges)
import(Rsamtools)
importFrom("graphics", "axis", "box", "lines", "mtext", "par", "rect")
importFrom("utils", "head", "write.table")
import(GenomicFeatures)
importFrom("S4Vectors", "subjectHits", "queryHits", "Rle")
importFrom("methods", "is")
import(Matrix)
import(AnnotationDbi)
import(rtracklayer)
import(matrixStats)
importFrom("IRanges", "IRanges")
export(
  TRESS_peak,
  M6Apeak.MultiRep.step1,
  M6Apeak.MultiRep.step2,
  M6Apeak.paramEsti,
  M6Apeak.oneRep,
  ShowOnePeak
  )
